

$orange_color:#e8aa67;
$lightgreen_color:#c7cc62;
$darkgreen_color:#879d4d;
$gray_color:#606060;
$white_color: #EEEEEE;
$lightgray: #D3CECA;



// ------------------會員資料--------------------

.O_member_info{
    display: flex;
    flex-direction: row;
    // border: 1px solid $gray_color;
    margin: 50px 0px 30px 0px;
    padding: 10px;
    background-color: $white_color;
}
.O_member_info ul{
    margin: 10px 100px 10px 20px;
    line-height: 36px;
}
.O_member_info ul li{
    margin: 10px 0;
}




