$orange_color: #e8aa67;
$lightgreen_color: #c7cc62;
$darkgreen_color: #879d4d;
$gray_color: #606060;
@mixin size($w, $h) {
  width: $w;
  height: $h;
}
// *{
//   border: #606060 1px solid;
// }
.T_buy_items_banner {
  height: 350px;
  text-align: center;
  color: #fff;
  letter-spacing: 5px;
}
.T_buy_items_banner_pic {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.T_buy_items_banner_pic img {
  width: 100%;
  object-fit: cover;
  object-position: 0px -200px;
  filter: brightness(0.75);
}
.T_banner_logo {
  width: 200px;
  margin: 0 auto;
  padding-top: 90px;
}
.T_banner_logo_text {
  width: 100%;
}
.T_banner_text {
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
  position: relative;
}
.T_banner_text span {
  font-size: 18px;
  font-weight: 545;
  line-height: 30px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.T_buy_items_banner_color {
  width: 175px;
  margin: 20px auto;
}
.T_long_color {
  display: block;
  position: absolute;
  width: 100%;
  height: 15px;
  margin-top: 340px;
  background: #fff url(./images/color_line.svg) repeat-x 0 0;
}
//shop banner end↑
.T_container {
  width: 85%;
  margin: auto;
}
.T_shop_all {
  width: 100%;
}
//商品篩選器↓
.T_products_select_box {
  border: $orange_color 1px solid;
  position: absolute;
  left: 18%;
  border-radius: 1em 1em 1em 1em;
  top: 6%;
}
.T_products_select_list {
  text-align: center;
  font-weight: 600;
  width: 40px;
  float: right;
  padding: 5px 6px 5px 6px;
  color: $gray_color;
}
.T_products_select_box .T_products_select_list:hover {
  background: $orange_color;
  cursor: pointer;
}
//側邊選單
.T_products_sidemenu {
  padding-top: 10%;
  width: 15%;
  float: left;
}
.T_sidemenu_title {
  display: block;
  padding: 5px;
  color: #e27b0c;
  // border-bottom: 1px solid transparent;
  // transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 1.2rem;
}
.T_sidemenu_list_li{
  line-height: 2rem;
  color: $gray_color;
}
.T_sidemenu_list_li:hover {
  padding: 5px;
  color: #fff;
  background: $orange_color;
}

//商品
.T_product_all {
  padding-top: 5%;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center; 
} 
.T_product_body {
  margin: 15px 20px;
  cursor: pointer;
  width: 250px;
}

.T_item_pic.T_item_box_choice {
  border: solid 10px #eee;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .1);
}

.T_product_pic {
  overflow: hidden;
  
}
.T_item_pic_item{
  height: 230px;
}

.T_item_pic img {
  width: 100%;
  object-fit: cover;
}

.T_item_pic_filter_img.T_item_pic_filter_img_click {
  filter: brightness(.4);
}

.T_Product_name{
  color: $gray_color;
  line-height: 14px;
  margin: 50px auto 0px;
  padding: 0 5px;
}
.T_which_box{
  line-height: 24px;
}

.T_how_long{
  padding: 0 20px;
}
.T_Product_price {
  font-size: 20px;
  display: flex;
}

//頁碼
.T_pages_items_box {
  display: flex;
}
.T_page_items_list {
  justify-content: center;
  margin: 0 auto;
  width: 15%;
}
.T_page_item {
  font-size: 1.5rem;
  padding: 10px;
  display: inline-flex;
  width: 10px;
  text-align: center;
}
.T_page_item a {
  color: $gray_color;
}
.T_page_item a:hover {
  color: $orange_color;
}


//pages-Pagination
.T_page_main{
  display: flex;
  width:100%;
  justify-content:space-around;
  align-items:flex-start;
}

.T_page{
  list-style: none;
  padding:0;
  margin:0;
}
.T_page li{
      float:left;
      width:30px;
      height:30px;
      border:1px solid #e6e6e6;
      text-align: center;
      line-height: 30px;
      color:#333;
      cursor:pointer;

      &:first-of-type,&:last-of-type{
          width:auto;
          padding:0 5px;
      }

      &:first-of-type{
          margin-right:10px;
      }

      &:last-of-type{
          margin-left:10px;
      }

      &::selection {
          background-color: transparent;
      }
  }

.active{
  color: $gray_color;
  border-bottom: 3px solid $orange_color;
}

