<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Home.css">
    <title>Document</title>
</head>

<body>
    <!-- nav -->
    <nav class="index_nav">
        <div class="nav_logo"><a href=""> <img src="./images/logo_black.svg" alt=""></a></div>
        <ul class="nav_box">
            <a href="">
                <li>關於知音</li>
            </a>
            <a href="">
                <li>玩玩知音</li>
            </a>
            <a href="">
                <li>最新消息</li>
            </a>
            <a href="">
                <li>開始購物</li>
            </a>
            <a href="">
                <li>銷售通路</li>
            </a>
            <a href="">
                <li>聯絡我們</li>
            </a>
        </ul>
        <ul class="nav_icon">
            <a href="">
                <li>
                    <figure><img src="./images/members.svg" alt=""></figure>
                </li>
            </a>
            <a href="">
                <li>
                    <figure><img src="./images/likes.svg" alt=""></figure>
                </li>
            </a>
            <a href="">
                <li>
                    <figure><img src="./images/buyitems.svg" alt=""></figure>
                </li>
            </a>
        </ul>
    </nav>
    <!-- body -->
    <div class="shop">
        <img src="./images/brand.svg" alt="brand" class="index_title brand">
        <div class="container">
            <div class="shop_all">
                <div class="shop_box shop_box_left">
                    <a href="" class="shop_hover">
                        <figure class="shop_brand tape">
                            <img src="images/tape.jpg" alt="紙膠帶">
                            <div class="shop_hover_box"></div>
                            <div class="shop_hover_text">紙膠帶
                                <h5>More choise more fun</h5>
                            </div>
                        </figure>
                    </a>
                    <a href="" class="shop_hover">
                        <figure class="shop_brand carving">
                            <img src="images/carving.jpg" alt="手工">
                            <div class="shop_hover_box"></div>
                            <div class="shop_hover_text">紙膠帶
                                <h5>More choise more fun</h5>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="shop_box">
                    <a href="" class="shop_hover">
                        <figure class="shop_brand wood">
                            <img src="images/wood.jpg" alt="木製">
                            <div class="shop_hover_box"></div>
                            <div class="shop_hover_text">紙膠帶
                                <h5>More choise more fun</h5>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="shop_box shop_box_right">
                    <a href="" class="shop_hover">
                        <figure class="shop_brand embroidery">
                            <img src="images/embroidery.jpg" alt="織">
                            <div class="shop_hover_box"></div>
                            <div class="shop_hover_text">紙膠帶
                                <h5>More choise more fun</h5>
                            </div>
                        </figure>
                    </a>
                    <a href="" class="shop_hover">
                        <figure class="shop_brand paper">
                            <img src="images/paper.JPG" alt="玩玩紙雕">
                            <div class="shop_hover_box"></div>
                            <div class="shop_hover_text">紙膠帶
                                <h5>More choise more fun</h5>
                            </div>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="play">
        <img src="./images/play.svg" alt="play" class="index_title play_title">
        <div class="container">
            <div class="paly_all paly_all_top">
                <figure class="play_pic">
                    <img src="./images/play_wood.jpg" alt="布置桌子">
                </figure>
                <div class="play_text">
                    <div class="triangle triangle_top"></div>
                    <div class="muise_box_box">
                        <img src="./images/color_line.svg" alt="" class="colorful_line colorful_line1">
                        <img src="./images/muise_box.svg" alt="音樂盒" class="muise_box">
                    </div>
                    <h3>創作的心意，讓音樂為你傳遞</h3>
                    <img src="./images/color_line.svg" alt="" class="colorful_line colorful_line2">
                    <div class="orange_line"></div>
                    <p class="p_top">親自錄製樂曲、DIY演奏音樂鈴，將幸福的聲音送進對方心坎裡將難忘的旅行、結婚、生日 、或節日，化為零件融入演奏音樂鈴，再以鋼 琴、軟體編曲，錄製獨一無二的曲譜卡帶，量身打造專屬的場景與旋律，讓每次演奏、播放都能喚醒心中最溫暖的記憶。</p>
                    <a href="">
                        <div class="know_more arrange">
                            了解更多
                        </div>
                    </a>
                </div>
            </div>
            <div class="paly_all paly_all_bottom">
                <div class="play_text play_text_bottom">
                    <div class="triangle triangle_bottom"></div>
                    <div class="muise_box_box muise_box_box_bottom">
                        <img src="./images/color_line.svg" alt="" class="colorful_line colorful_line3">
                        <img src="./images/muise_box.svg" alt="音樂盒" class="muise_box">
                    </div>
                    <h3 class="h3_bottom">創作的心意，讓音樂為你傳遞</h3>
                    <img src="./images/color_line.svg" alt="" class="colorful_line colorful_line4">
                    <div class="orange_line"></div>
                    <p class="p_bottom">親自錄製樂曲、DIY演奏音樂鈴，將幸福的聲音送進對方心坎裡將難忘的旅行、結婚、生日 、或節日，化為零件融入演奏音樂鈴，再以鋼 琴、軟體編曲，錄製獨一無二的曲譜卡帶，量身打造專屬的場景與旋律，讓每次演奏、播放都能喚醒心中最溫暖的記憶。</p>
                    <a href="">
                        <div class="know_more play_wood">
                            了解更多
                        </div>
                    </a>
                </div>
                <figure class="play_pic">
                    <img src="./images/play_wood.jpg" alt="玩木頭">
                </figure>
            </div>
        </div>
    </div>
    <div class="news">
        <img src="./images/new.svg" alt="news" class="index_title news">
        <div class="container">
            <div class="news_container">
                <div class="news_box">
                    <div class="orange_box">
                        <div class="green_box"> New</div>
                    </div>
                    <figure class="circle_pic">
                        <img src="images/card.jpg" alt="">
                    </figure>
                    <h5>2018.09.21</h5>
                    <p>比送喉糖更有創意!
                        <br>教師節滿分送禮清單!!</p>
                    <a href="">
                        <div class="know_more news_btn">
                            了解更多
                        </div>
                    </a>
                </div>
                <div class="news_box">
                    <div class="orange_box">
                        <div class="green_box"> New</div>
                    </div>
                    <figure class="circle_pic">
                        <img src="images/card.jpg" alt="">
                    </figure>
                    <h5>2018.09.21</h5>
                    <p>比送喉糖更有創意!
                        <br>教師節滿分送禮清單!!</p>
                    <a href="">
                        <div class="know_more news_btn">
                            了解更多
                        </div>
                    </a>
                </div>
                <div class="news_box">
                    <div class="orange_box">
                        <div class="green_box"> New</div>
                    </div>
                    <figure class="circle_pic">
                        <img src="images/card.jpg" alt="">
                    </figure>
                    <h5>2018.09.21</h5>
                    <p>比送喉糖更有創意!
                        <br>教師節滿分送禮清單!!</p>
                    <a href="">
                        <div class="know_more news_btn">
                            了解更多
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container footer_container">
            <div class="footer_text_box footer_text_box_about">
                <h4>關於知音<br><span>ABOUT US</span></h4>
                <ul class="footer_about">
                    <a href="">
                        <li>關於知音 About Jeancard</li>
                    </a>
                    <a href="">
                        <li>Wooderful life</li>
                    </a>
                    <a href="">
                        <li>來趣</li>
                    </a>
                    <a href="">
                        <li>紙風景</li>
                    </a>
                    <a href="">
                        <li>繡</li>
                    </a>
                    <a href="">
                        <li>i-Marker</li>
                    </a>
                    <a href="">
                        <li>Funtape</li>
                    </a>
                </ul>
            </div>
            <div class="footer_text_box footer_text_box_members">
                <h4>會員功能<br><span>MEMBER SERVICE</span></h4>
                <ul class="footer_members">
                    <a href="">
                        <li>加入會員 Register</li>
                    </a>
                    <a href="">
                        <li>會員登入 Sign In</li>
                    </a>
                    <a href="">
                        <li>忘記密碼 Forget Password</li>
                    </a>
                    <a href="">
                        <li>會員條款 Membership terms</li>
                    </a>
                </ul>
            </div>
            <div class="footer_text_box footer_text_box_contact">
                <h4>聯絡我們<br><span>CONTACT US</span></h4>
                <ul class="footer_contact">
                    <li>02-2917-1700</li>
                    <li>Jeancard@gmail.com</li>
                    <li>服務時間：8:00~19:00</li>
                    <li>Line：@jeancard</li>
                    <li>FB：https://www.facebook.com/jeancard1975/</li>

                </ul>
            </div>
            <div class="footer_text_box footer_text_box_logo">
                <div class="footer_logo"><a href=""><img src="./images/logo.svg" alt=""></a></div>
                <li class="footer_icon_box">
                    <a href=""><figure class="icon_range icon_range_fb"> <img src="./images/FB.png" alt="FB"></figure></a>
                    <a href=""><figure class="icon_range"><img src="./images/IG.png" alt="IG"></figure></a>
                    <a href=""><figure class="icon_range"><img src="./images/LINE.png" alt="LINE"></figure></a>
                </li>
            </div>

        </div>
    </div>
    <div class="footer_gray">ⓒ 2018 Mercci22 CO., LTD. All RIGHTS RESERVED.</div>
</body>

</html>