$orange_color: #e8aa67;
$lightgreen_color: #c7cc62;
$darkgreen_color: #879d4d;
$gray_color: #606060;
@mixin size($w, $h) {
  width: $w;
  height: $h;
}
.T_buy_items_banner {
  height: 350px;
  text-align: center;
  color: #fff ;
  letter-spacing: 5px;
}
.T_buy_items_banner_pic {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.T_buy_items_banner_pic img {
  width: 100%;
  object-fit: cover;
  object-position: 0px -200px;
  filter: brightness(0.75);
}
.T_banner_logo {
  width: 200px;
  margin: 0 auto;
  padding-top: 90px;
}
.T_banner_logo_text {
  width: 100%;
}
.T_banner_text {
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
  position: relative;
}
.T_banner_text span {
  font-size: 18px;
  font-weight: 545;
  line-height: 30px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.T_buy_items_banner_color {
  width: 175px;
  margin: 20px auto;
}
.T_long_color {
  display: block;
  position: absolute;
  width: 100%;
  height: 15px;
  margin-top: 285px;
  background: #fff url(./images/color_line.svg) repeat-x 0 0;
}
//shop banner end↑
.T_container {
  width: 85%;
  margin: auto;
}
.T_shop_all {
  width: 100%;
  padding-bottom: 8%;
}

//商品篩選器↓
.T_products_select_box {
  border: solid 1px $orange_color;
  display: flex;
  justify-content: space-around;
  color: $orange_color;
  width: 300px;
  overflow: hidden;
  left: 8%;
  border-radius: 1em 1em 1em 1em;
  margin-top: 5%;
}
.T_products_select {
  cursor: pointer;
  width: 33%;
  height: 25px;
  text-align: center;
  border-right: solid 1px #eee;
}
.T_products_select.T_products_select_click {
  background-color: $orange_color;
  color: #fff;
}
.T_products_select:hover {
  background-color: $orange_color;
  color: #eee;
}
//側邊選單
.T_products_sidemenu {
  padding-top: 10%;
  width: 15%;
  float: left;
}
.T_sidemenu_title {
  display: block;
  padding: 5px;
  color: #e27b0c;
  font-size: 1.2rem;
}
.T_sidemenu_list_li a {
  line-height: 2rem;
  color: $gray_color;
}
.T_sidemenu_list_li a:hover {
  padding: 5px;
  color: #fff;
  background: $orange_color;
}
//商品
.T_product_all {
  padding-top: 5%;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}
.T_product_body {
  margin: 15px 20px;
  cursor: pointer;
  width: 250px;
}
.T_product_pic {
  overflow: hidden;
}
.T_Product_text {
}
.T_Product_name {
  color: $gray_color;
}
.T_Product_price {
  color: rgb(138, 136, 136);
  text-decoration: line-through;
  line-height: 1.5rem;
}
.T_Product_sele {
  color: #e95c6a;
  font-size: 18px;
  display: flex;
  line-height: 1rem;
}

//頁碼
.T_page_main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
  padding-top: 3%;
}

.T_page {
  list-style: none;
  padding: 0;
  margin: 0;
  color: $gray_color;
}
.T_page a {
  color: $gray_color;
}

.T_page li {
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: $gray_color;
  cursor: pointer;

  &:first-of-type,
  &:last-of-type {
    width: auto;
    padding: 0 5px;
  }

  &:first-of-type {
    margin-right: 10px;
  }

  &:last-of-type {
    margin-left: 10px;
  }

  &::selection {
    background-color: transparent;
  }
}
